<div class="social">
	<h4>
	  <a href="https://github.com/gujavasc"><i style="color: #5b5756; padding: 5px;" class="fa fa-github fa-3x"></i></a>
	  <a href="https://twitter.com/gujavasc"><i style="color: #5b5756; padding: 5px;" class="fa fa-twitter fa-3x"></i></a>
	  <a href="https://facebook.com/groups/gujavasc"><i style="color: #5b5756; padding: 5px;" class="fa fa-facebook-square fa-3x"></i></a>
	  <a href="https://www.linkedin.com/company/3218910/"><i style="color: #5b5756; padding: 5px;" class="fa fa-linkedin fa-3x"></i></a>
	  <a href="https://gujavasc.herokuapp.com/"><i style="color: #5b5756; padding: 5px;" class="fa fa-slack fa-3x"></i></a>
		<a href="https://www.youtube.com/channel/UCUcZ3RuXNok9pDBYp8_ZBSQ"><i style="color: #5b5756; padding: 5px;" class="fa fa-youtube-square fa-3x"></i></a>
		<a href="https://www.meetup.com/gujavasc/"><i style="color: #5b5756; padding: 5px;" class="fa fa-meetup fa-3x"></i></a>
	</h4>
</div>
